http://arcane.{$DOMAIN} {
	reverse_proxy arcane:3552
}

http://bog.{$DOMAIN} {
	reverse_proxy https://192.168.0.158:8006 {
		transport http {
			tls_insecure_skip_verify
		}
		flush_interval -1
	}
}

http://jellyfin.{$DOMAIN} {
	reverse_proxy jellyfin:8096
}

http://sonarr.{$DOMAIN} {
	reverse_proxy sonarr:8989
}

http://radarr.{$DOMAIN} {
	reverse_proxy radarr:7878
}

http://prowlarr.{$DOMAIN} {
	reverse_proxy prowlarr:9696
}

http://links.{$DOMAIN} {
	reverse_proxy linkding:9090
}
