api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      trustedIPs:
        - "172.20.0.0/24"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
  redis:
    endpoints:
      - "redis:6379"
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

log:
  level: "INFO"
